.container {
  height: 50px;
  display: flex;
  gap: 20px;
  &__firstButton {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    border-radius: 50px;
  }
}
